font-weight: bold;
font-style: italic;
text-transform: uppercase;
text-decoration: underline    dashed ;
text-decoration: none;
text-align: center;
line-height: 40px;
word-spacing: 20px;
letter-spacing: 10px;
text-decoration: line-through red dotted ; 
text-shadow: -2px -10px 5px  black ;
border: #000  2px solid ;




/* next class  */
margin
padding
width
height
min,max height
min,max width
display 

